@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import 'sweetalert2/dist/sweetalert2.min.css';

* {
    font-family: "Open Sans", sans-serif !important;
}
ion-header {
    border-bottom: 5px solid #fff;
}
ion-toolbar {
    --background: #07055D;
    color: white;
    display: flex;
    align-items: center;
    padding: 0;
    box-shadow: none;
}
.login-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    padding: 20px 0;
    font-size: 36px;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 40px;
}
.logo {
    display: flex;
}
.logo img {
    margin-bottom: 0 !important;
}
ion-toolbar::part(container) {
  height: 100%;
}
ion-title {
    display: flex;
    width: 100%;
    padding: 5px;
    align-items: center;
}
ion-icon.active {
  width: 24px !important;
  height: 24px !important;
  color: yellow !important;
}
#container {
  background-image: url(../../public/img/wowbg-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  padding-top: 70px;
}
.footer {
    background-color: #07055D;
    color: #fff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-top: 5px solid;
}
.main-content h1, 
.main-content h2, 
.main-content h3, 
.main-content h4,
.main-content ion-title {
    color: #fff;
}